body{
    background:#242324;
    z-index: -5;
}



.container{
    margin:0 auto;
    height:590px;
    width:590px;
    margin-top:15px;
    z-index: 1;
    position:relative;
}


#circle1 {
    border-radius: 600px 0px 0px 0px;
    background:rgb(227,228,24);
    padding: 20px; 
    width: 280px;
    height: 280px; 
    display:inline-block;
    margin-right:20px;
    margin-bottom:20px;
    border:10px solid #e3e418;
    box-shadow: inset 0 0 50px #4A360B;
    z-index: 2;
    opacity:0.99;
}

#circle2 {
     border-radius: 0px 600px 0px 0px;
    background:rgb(255, 0, 0);
    padding: 20px; 
    width: 280px;
    height: 280px; 
    display:inline-block;
    margin-bottom:20px;
    border:10px solid #FF0000;
    box-shadow: inset 0 0 50px #300000;
    opacity:0.99;
    z-index: 2;

}

#circle2a {
    border-radius: 0px 600px 0px 0px;
    background:white;
    padding: 20px; 
    width: 280px;
    height: 280px; 
    display:inline-block;
    margin-right:20px;
    margin-bottom:20px;
    border:10px solid white;
    z-index: -10;
    margin-left:304px;
    margin-top:-400px;
    position:relative;
    top:-63px;
}

#circle3 {
    border-radius: 0px 0px 0px 600px;
    background:rgb(92,164,245);
    padding: 20px; 
    width: 280px;
    height: 280px;
    display:inline-block;
    margin-right:20px;
    margin-top:-55px;
    border: 10px solid #5CA4F5;
    box-shadow: inset 0 0 50px #122030;
    opacity:0.99;
    z-index: 1;
}

#circle3a {
    border-radius: 0px 0px 0px 600px;
    background:white;
    padding: 20px; 
    width: 280px;
    height: 280px; 
    display:inline-block;
    margin-right:20px;
    margin-bottom:20px;
    border:10px solid white;
    z-index: -10;
    margin-left:304px;
    margin-top:-400px;
    position:relative;
    top:-43px;
    left:-303.5px;
}

#circle4 {
    border-radius: 0px 0px 600px 0px;
    background: rgb(115,173,33);
    padding: 20px; 
    width: 280px;
    height: 280px; 
    display:inline-block;
    border:10px solid rgba(115,173,33,1);
    box-shadow: inset 0 0 50px #182407;
    opacity:0.99;
    z-index: 1;
    position:relative;
    top:-344px;
    left:305px;
}

#circle3a {
    border-radius: 0px 0px 600px 0px;
    background:white;
    padding: 20px; 
    width: 280px;
    height: 280px; 
    display:inline-block;
    margin-right:20px;
    margin-bottom:20px;
    border:10px solid white;
    z-index: -10;
    margin-left:304px;
    margin-top:-400px;
    position:relative;
    left:1px;
    top:-44px;
}

.middlecircle
{
    height:220px;
    width:220px;
    background:#BEBFBF;
    border:20px solid #242324;
    margin:0 auto;
    border-radius:50%;
    margin-top:-420px;
    z-index: 2;
    position:relative;
    box-shadow: inset 0 0 60px #000000;
}

#title{
    background:#2E2D2E;
    width:180px;
    height:80px;
    border-radius: 500px 500px 0px 0px;
    margin:0 auto;
    margin-top:10px;
    box-shadow: inset 0 0 30px #000000;
}

#title h2{
    font-family:helvetica;
    font-size:42px;
    margin-top:10px;
    color:white;
    line-height: 2.8em;
    text-align:center;
}

.littlecircle
{
    background:#e3e418;
     border:4px solid black;
    width:45px;
    height:45px;
    border-radius:50%;
    display:inline-block;
    margin:15px -3px 2px 20px;
}

#easy{
    background:#e3e418;
    box-shadow: inset 0 0 20px #4A360B;
}

#startgame{
    background:red;
    border:4px solid black;
    width:45px;
    height:45px;
    border-radius:50%;
    display:inline-block;
    margin:15px -3px 2px 20px;
    box-shadow: inset 0 0 20px #300000;
}

#hard{
    background:#5CA4F5;
    box-shadow: inset 0 0 20px #122030;
}

#counter{
    background:#400000;
    border: 1px solid red;
    padding:8px;
    color:red;
    margin-top:13px;
    margin-left:65px;
    width:70px;
    height:15px;
    box-shadow: inset 0 0 12px #000000;
    text-align:center;
    font-family: 'Orbitron', sans-serif;
}

/*
h3{
    text-align:center;
    font-family: 'Orbitron', sans-serif;

}
*/

.makeLight
{
    opacity:0.5;
}





