body{
    background:#242324;
    z-index: -5;
}



.container{
    margin:0 auto;
    height:590px;
    width:590px;
    margin-top:15px;
    z-index: 1;
    position:relative;
}


#circle1 {
    border-radius: 600px 0px 0px 0px;
    background:rgb(227,228,24);
    padding: 20px; 
    width: 280px;
    height: 280px; 
    display:inline-block;
    margin-right:20px;
    margin-bottom:20px;
    border:10px solid #e3e418;
    z-index: 1;
    opacity:0.5;
}

#circle2 {
     border-radius: 0px 600px 0px 0px;
    background:rgb(255, 0, 0);
    padding: 20px; 
    width: 280px;
    height: 280px; 
    display:inline-block;
    margin-bottom:20px;
    border:10px solid #FF0000;
    opacity:0.5;
    z-index: 1;

}
#circle3 {
    border-radius: 0px 0px 0px 600px;
    background:rgb(92,164,245);
    padding: 20px; 
    width: 280px;
    height: 280px;
    display:inline-block;
    margin-right:20px;
    border: 10px solid #5CA4F5;
    opacity:0.5;
    z-index: 1;
}
#circle4 {
    border-radius: 0px 0px 600px 0px;
    background: rgb(115,173,33);
    padding: 20px; 
    width: 280px;
    height: 280px; 
    display:inline-block;
    border:10px solid rgba(115,173,33,1);
    opacity:0.5;
    z-index: 1;
}

.middlecircle
{
    height:220px;
    width:220px;
    background:#BEBFBF;
    border:20px solid #242324;
    margin:0 auto;
    border-radius:50%;
    margin-top:-420px;
    z-index: 2;
    position:relative;
}

#title{
    background:#242324;
    width:180px;
    height:80px;
    border-radius: 300px 300px 0px 0px;
    margin:0 auto;
    margin-top:10px;
}

#title h2{
    font-family:helvetica;
    font-size:42px;
    margin-top:10px;
    margin-left:15px;
    color:white;
    line-height: 2.8em;
}

#littlecircle
{
    background:#e3e418;
    width:40px;
    height:40px;
    border-radius:50%;
    display:inline-block;
    margin:15px 5px 2px 20px;
}

#startgame{
    background:#e3e418;
    width:40px;
    height:40px;
    border-radius:50%;
    display:inline-block;
    margin:15px 5px 2px 20px;
}

#counter{
    background:red;
    border: 1px solid red;
    padding:8px;
    color:white;
    margin-top:10px;
    margin-left:63px;
}

.makeClass
{
    opacity:1;
}

#counter
{
    width:200px;
    height:200px;
    background:white;
}



